{% include 'admin/admin_header.html' %}
<style>
    table td{
    color:white;
    }
</style>
<center>
    <form action="" method="post">
        <table border="1" width="50%" style="border-color:white">
            <tr>
                <td>File_id</td>
                <td>Emp_id</td>
                <td>File_path</td>
                <td>Date</td>
                <td>Status</td>
            </tr>
            {% for row in data %}
            <tr>
                <td>
                    {{row['file_id']}}
                </td>
                <td>
                    {{row['emp_id']}}
                </td>
                <td>
                    {{row['file_path']}}
                </td>
                <td>
                    {{row['date']}}
                </td>
                <td>
                    {{row['status']}}
                </td>
            </tr>
            {% endfor %}
        </table>
    </form>
</center>
{% include 'admin/admin_footer.html' %}