{% include 'user/user_header.html' %}
<div class="custom">
 <div class="row">
   <div class="col-md-4"></div>
   <div class="col-md-4">
       <h1>Upload</h1>
       <form action="" method="post" enctype="multipart/form-data">

        <table>
            <tr>
                <td><input required type="file" name="file_path" class="form-control"></td>
            </tr>
            <tr>
                <td><input  type="submit" class="btn btn-success form-control" name="upload" value="Upload"></td>
            </tr>
        </table>

    </form>
</div>
</div>
</div>
{% include 'user/user_footer.html' %}