{% include 'public/public_header.html' %}
<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Get in touch</h3>
					</div>
					<div class="contact-info">
						<h4>Location :</h4>
						<p style="color:white">0926k 4th block building, king Avenue, New York City.</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p style="color:white">Phone : +121 098 8907 9987</p>
							<p style="color:white">Email :
                                <a href="mailto:info@example.com">info@example.com</a>
							</p>
						</div>
					</div>
				</div>
{% include 'public/public_footer.html' %}