<div class="clearfix"></div>
	</div>
</div>

<section class="bottom-banner-w3layouts product">
		<div class="container">
			<h3 class="tittle-wthree text-center">
				<span>Some Info</span>Take on the market with our powerful platforms.</h3>
			<div class="row inner-sec-w3ls-agileinfo">
				<div class="mid-para text-center px-lg-5 px-md-4 px-2">
					<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut consectetur adipisicing
						elit sedc labore et dolore magna aliqua uta enim ad minim ven iam quis nostrud exercitation ullamco. Sed semper leo
						metus, a lacinia eros semper at. Etiam sodales orci sit amet vehicula pellentesque,Lorem ipsum dolor sit amet consectetur
						adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.</p>
						<div class="read inner mt-4">
							<a href="single.html" class="btn btn-sm animated-button victoria-two">Read More</a>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!--//-->
	<!--/process-->
	<section class="bottom-banner-w3layouts" id="process">
		<div class="container">
			<h3 class="tittle-wthree text-center">
				<span>Some Info</span>A relationship on your terms.</h3>
			<div class="row inner-sec-w3ls-agileinfo">
				<div class="col-lg-4 terms-main text-left">
					<div class="terms-in text-left rounded">
						<div class="card">
							<div class="card-body">
								<i class="fab fa-react"></i>
								<h5 class="card-title">Investing</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 terms-main text-left">
					<div class="terms-in one text-left rounded">
						<div class="card">
							<div class="card-body">
								<i class="fab fa-strava"></i>
								<h5 class="card-title">Trading</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
								</p>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 terms-main text-left">
					<div class="terms-in two text-left rounded">
						<div class="card">
							<div class="card-body">
								<i class="far fa-money-bill-alt"></i>
								<h5 class="card-title">Wealth Management</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 terms-main text-left mt-4">
					<div class="terms-in thd text-left rounded">
						<div class="card">
							<div class="card-body">
								<i class="fas fa-exclamation"></i>
								<h5 class="card-title">Risk Analysis</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 terms-main text-left mt-4">
					<div class="terms-in fourth text-left rounded">
						<div class="card">
							<div class="card-body">
								<i class="fas fa-street-view"></i>
								<h5 class="card-title">Stock Market</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
								</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 terms-main text-left mt-4">
					<div class="terms-in fifth text-left rounded">
						<div class="card">
							<div class="card-body">
								<i class="fas fa-umbrella"></i>
								<h5 class="card-title">Venture Capitals</h5>
								<p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//preocess-->
	<section class="testimonials bottom-banner-w3layouts">
		<div class="container">
			<h3 class="tittle-wthree cen text-center">Find out more about what we do</h3>
		</div>
	</section>
	<!--/features-->
	<section class="bottom-banner-w3layouts">
		<div class="container">
			<h3 class="tittle-wthree text-center">
				<span>Some Info</span>Financial Experts</h3>
			<div class="row inner-sec-w3ls-agileinfo ">
				<div class="col-sm-4">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="/static/web/images/team1.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Expert 1</h4>
							<span>Chief Executive </span>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="/static/web/images/team2.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Expert 2</h4>
							<span>Senior Engineer</span>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="/static/web/images/team3.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Expert 3</h4>
							<span>HR Manager</span>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- //end row -->
			<div class="row justify-content-center">
				<div class="col-sm-4">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="/static/web/images/team4.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Expert 4</h4>
							<span>Accounts Manager</span>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="/static/web/images/team1.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Expert 5</h4>
							<span>Marketing Head</span>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
								<div class="col-sm-4">
					<div class="team-grid text-center">
						<div class="team-img">
							<img class="img-fluid rounded" src="/static/web/images/0Y9A9562.jpg" alt="">
						</div>
						<div class="team-info">
							<h4>Expert 5</h4>
							<span>Marketing Head</span>
							<ul class="d-flex justify-content-center py-3 social-icons">
								<li>
									<a href="#">
										<i class="fab fa-facebook-f"></i>
									</a>
								</li>
								<li class="mx-3">
									<a href="#">
										<i class="fab fa-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="fab fa-google-plus-g"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- //end row -->
		</div>


	</section>
	<!--//features-->
	<!--gallery  -->
	<section class="bottom-banner-w3layouts proj">
		<div class="container-fluid text-center">
			<h3 class="tittle-wthree text-center">
				<span>Some Info</span>Our Projects</h3>
			<ul class="portfolio-categ filter pt-4 mb-5 text-center">
				<li class="port-filter all active">
					<a href="#">All</a>
				</li>
				<li class="cat-item-1">
					<a href="#" title="Category 1">Accounting</a>
				</li>
				<li class="cat-item-2">
					<a href="#" title="Category 2">Employee</a>
				</li>
				<li class="cat-item-3">
					<a href="#" title="Category 3">Banking</a>
				</li>
				<li class="cat-item-4">
					<a href="#" title="Category 4">Finacial</a>
				</li>
			</ul>
			<ul class="portfolio-area clearfix">
				<li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
					<div>
						<span class="image-block img-hover">
							<a class="image-zoom rounded" href="/static/web/images/4.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/4.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/5.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/5.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/6.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/6.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/7.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/7.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/8.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/8.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/9.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/9.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/10.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/10.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/11.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/11.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-9" data-type="cat-item-4">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/12.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/12.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-9" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/13.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/13.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-10" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/4.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/4.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/9.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/9.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-9" data-type="cat-item-3">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/5.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/5.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-10" data-type="cat-item-2">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/8.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/8.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
				<li class="portfolio-item2" data-id="id-8" data-type="cat-item-1">
					<div>
						<span class="image-block">
							<a class="image-zoom" href="/static/web/images/6.jpg" data-gal="prettyPhoto[gallery]">

								<img src="/static/web/images/6.jpg" class="img-fluid rounded" alt="">

							</a>
						</span>
					</div>
				</li>
			</ul>
			<!--end portfolio-area -->

		</div>
		<!-- //gallery container -->
	</section>
	<!-- //gallery -->
	<!--/testimonials-->
	<section class="testimonials bottom-banner-w3layouts">
		<div class="container">
			<h3 class="tittle-wthree cen text-center">What our clients say</h3>
			<div class="inner-sec-w3ls-agileinfo">
				<div class="owl-carousel owl-theme">
					<div class="item">
						<div class="feedback-info text-left">
							<div class="feedback-top rounded">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna
									Sed semper leo metus, a lacinia eros semper at.</p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="/static/web/images/t1.jpg" class="img-fluid rounded-circle" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Mary Jane</h5>
									<p>United States
										<span>(Company)</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="feedback-info text-left">
							<div class="feedback-top rounded">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna
									Sed semper leo metus, a lacinia eros semper at.</p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="/static/web/images/t3.jpg" class="img-fluid rounded-circle" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Steven Wilson</h5>
									<p>United States
										<span>(Company)</span>
									</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="feedback-info text-left">
							<div class="feedback-top rounded">
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit sedc dnmo eiusmod tempor incididunt ut labore et dolore magna
									Sed semper leo metus, a lacinia eros semper at.</p>
							</div>
							<div class="feedback-grids">
								<div class="feedback-img">
									<img src="/static/web/images/t3.jpg" class="img-fluid rounded-circle" alt="" />
								</div>
								<div class="feedback-img-info">
									<h5>Peter guptill</h5>
									<p>Vestibulum</p>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--//testimonials-->
	<!--footer -->
	<footer>
		<div class="container">
			<div class="row footer-top">
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>About Us</h3>
					</div>
					<div class="footer-text">
						<p>Curabitur non nulla sit amet nislinit tempus convallis quis ac lectus. lac inia eget consectetur sed, convallis at
							tellus. Nulla porttitor accumsana tincidunt.</p>
						<div class="social-icon footer text-left mt-4">
							<div class="icon-social">
								<a href="#" class="button-footr">
									<i class="fab fa-facebook-f"></i>
								</a>
								<a href="#" class="button-footr">
									<i class="fab fa-twitter"></i>
								</a>
								<a href="#" class="button-footr">
									<i class="fab fa-dribbble"></i>
								</a>

							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Get in touch</h3>
					</div>
					<div class="contact-info">
						<h4>Location :</h4>
						<p>0926k 4th block building, king Avenue, New York City.</p>
						<div class="phone">
							<h4>Contact :</h4>
							<p>Phone : +121 098 8907 9987</p>
							<p>Email :
								<a href="mailto:info@example.com">info@example.com</a>
							</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Useful Links</h3>
					</div>
					<ul class="links">
						<li>
							<a href="index.html">Home</a>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li>
							<a href="blog.html">Blog</a>
						</li>
						<li>
							<a href="projects.html">Projects</a>
						</li>
						<li>
							<a href="contact.html">Contact Us</a>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 footer-grid-w3ls">
					<div class="footer-title">
						<h3>Subscribe</h3>
					</div>
					<div class="footer-text">
						<p>By subscribing to our mailing list you will always get latest news and updates from us.</p>
						<form action="#" method="post">
							<input class="form-control" type="email" name="Email" placeholder="Enter your email..." required="">
							<button class="btn1">
								<i class="far fa-envelope" aria-hidden="true"></i>
							</button>
							<div class="clearfix"> </div>
						</form>
					</div>
				</div>
			</div>
			<div class="copyright mt-4">
				<p class="copy-right text-center ">&copy; 2018 Accrue. All Rights Reserved | Design by
					<a href="http://w3layouts.com/"> W3layouts </a>
				</p>
			</div>
		</div>
	</footer>
	<!-- //footer -->
	<a href="#home" class="scroll" id="toTop" style="display: block;">
		<span id="toTopHover" style="opacity: 1;"> </span>
	</a>
	<!-- //Custom-JavaScript-File-Links -->
	<!-- js -->
	<script  src="/static/web/js/jquery-2.2.3.min.js"></script>
	<!--slider-->
	<script src="/static/web/js/responsiveslides.min.js"></script>
	<script>
		$(function () {

			// Slideshow 1
			$("#slider1").responsiveSlides({
				auto: false,
				pager: true,
				nav: false,
				speed: 500,
				namespace: "centered-btns"
			});

		});
	</script>
	<!--//slider-->
	<!--pop-up-box-->
	<link href="/static/web/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
	<script src="/static/web/js/jquery.magnific-popup.js"></script>
	<!--//pop-up-box-->
	<script>
		$(document).ready(function () {
			$('.popup-with-zoom-anim').magnificPopup({
				type: 'inline',
				fixedContentPos: false,
				fixedBgPos: true,
				overflowY: 'auto',
				closeBtnInside: true,
				preloader: false,
				midClick: true,
				removalDelay: 300,
				mainClass: 'my-mfp-zoom-in'
			});

		});
	</script>
	<!--//search-bar-->

	<!-- carousel -->
	<script src="/static/web/js/owl.carousel.js"></script>
	<script>
		$(document).ready(function () {
			$('.owl-carousel').owlCarousel({
				loop: true,
				margin: 10,
				responsiveClass: true,
				responsive: {
					0: {
						items: 1,
						nav: true
					},
					600: {
						items: 1,
						nav: false
					},
					900: {
						items: 1,
						nav: false
					},
					1000: {
						items: 1,
						nav: true,
						loop: false,
						margin: 20
					}
				}
			})
		})
	</script>
	<!-- //carousel -->

	<!-- //js -->
	<script src="/static/web/js/bootstrap.js"></script>
	<!--/ start-smoth-scrolling -->
	<script src="/static/web/js/move-top.js"></script>
	<script src="/static/web/js/easing.js"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();
				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 900);
			});
		});
	</script>
	<script>
		$(document).ready(function () {
			/*
									var defaults = {
										  containerID: 'toTop', // fading element id
										containerHoverID: 'toTopHover', // fading element hover id
										scrollSpeed: 1200,
										easingType: 'linear'
									 };
									*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<!--// end-smoth-scrolling -->
	<!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
	<script src="/static/web/js/jquery-1.7.2.js"></script>
	<script src="/static/web/js/jquery.quicksand.js"></script>
	<script src="/static/web/js/script.js"></script>
	<script src="/static/web/js/jquery.prettyPhoto.js"></script>
	<!-- //jQuery-Photo-filter-lightbox-Gallery-plugin -->

</body>


</html>