{% include 'public/public_header.html' %}
<div class="ban-form text-left">
	<h5>Student Register</h5>
	<form action="" class="mt-4" method="post">
		<input class="form-control" type="text" name="fname" id="fname" placeholder="Firstname" required="" />
		<input class="form-control" type="text" name="lname" id="lname" placeholder="Lastname" required="" />
		<input class="form-control" type="text" name="place" id="place" placeholder="Place" required="" />
		<input class="form-control" type="text" name="phone" id="phone" placeholder="Phone" required="" />
		<input class="form-control" type="text" name="email" id="email" placeholder="Email" required="" />
		<input class="form-control" type="text" name="username" id="username" placeholder="Username" required="" />
		<input class="form-control" type="password" name="password" id="password" placeholder="Password" required="" />
		<input class="form-control text-uppercase" id="register" name='register' type="submit" value="Register">
	</form>
</div>

{% include 'public/public_footer.html' %}